*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#D4FAFC;
    font-family: 'Marck Script', cursive;
}
.profile{
    width: 40%;
    float: right;
}
.profile img{
    width: 100%;
    height: 100%;
}
.about{
    margin-left:15px;
}
.profile-info{
    width: 60%;
    height: 100vh;
    float: left;
    padding: 0 30px;
    overflow: scroll;
    overflow-x: hidden;
}.profile-info::-webkit-scrollbar{
    width: 0;
}
.profile-info h1{
    margin-top: 50px;
    margin-bottom: 50px;
}
.social{
    margin-top: 20px;
    margin-left: 15px;
}
.social img{
    width: 35px;
    margin-right: 15px;
    cursor: pointer;
    transition: 2s;
}
.social img:hover{
    transform: rotate(360deg);
}
.profile-info h2{
    margin-top: 50px;
    margin-bottom: 15px;
}
.services{
    display: inline-block;
    width: 28%;
    padding: 30px 10px;
    margin: 2%;
    text-align: center;
    box-shadow: 0 0 15px aqua;
}
.services img{
    width: 60%;
    margin: 5px;
}
.services small{
    padding-top:15px ;
    display: block;
}
.form-box{
    margin-top: 30px;
}
.input-group input{
    width: 45%;
    border: 0;
    outline-color: aqua;
    padding: 10px;
    background-color: silver;
    margin: 2%;
    display: inline-block;
}
.text-area textarea{
    width: 95%;
    border:0 ;
    outline-color:aqua;
    padding: 10px;
    background-color: silver;
    margin: 2%;
}
.sub{
    border:0 ;
    outline: none !important;
    padding: 10px;
    background-color: aqua;
    margin: 2%;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.copy{
    text-align: center;
    margin-bottom: 30px;
    color: rgb(102, 101, 101) ;
}
@media only screen and (max-width:900px){
    .profile-info{
        width: 95%;
    }
    .profile{
        width: 95%;
    }
    .profinle img{
        width: 90%;
    }
    .social img{
        width: 10%;
    }
    .services{
        width: 95%;
        margin-bottom:15px ;
    }
}